/* test/specimens/folder/folder.css */
.mc04bb002b_folder {
    margin: 2px
}
/* test/specimens/local.css */
.mc04cb4cb2_booga {
    background: green
}
/* test/specimens/start.css */
.mc61f0515a_booga {
    color: red;
    background: blue
}
.mc61f0515a_tooga {
    border: 1px solid white
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL0RvY3VtZW50cy9Db2RlL21vZHVsYXItY3NzL3Rlc3Qvc3BlY2ltZW5zL2ZvbGRlci9mb2xkZXIuY3NzIiwiLi4vRG9jdW1lbnRzL0NvZGUvbW9kdWxhci1jc3MvdGVzdC9zcGVjaW1lbnMvbG9jYWwuY3NzIiwiLi4vRG9jdW1lbnRzL0NvZGUvbW9kdWxhci1jc3MvdGVzdC9zcGVjaW1lbnMvc3RhcnQuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiI7QUFDQTtJQUFVLFdBQVk7Q0FBRTs7QUNHeEI7SUFBUyxpQkFBa0I7Q0FBRTs7QUNGN0I7SUFGQSxXQUEyQztJQUEzQyxnQkFBMkM7Q0FFSjtBQUN2QztJQUhBLHVCQUEyQztDQUdQIiwiZmlsZSI6ImNzcy5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAdmFsdWUgZm9sZGVyOiB3aGl0ZTtcbi5mb2xkZXIgeyBtYXJnaW46IDJweDsgfVxuIiwiQHZhbHVlIG9uZTogcmVkO1xuQHZhbHVlIHR3bzogYmx1ZTtcbkB2YWx1ZSBmb2xkZXIgZnJvbSBcIi4vZm9sZGVyL2ZvbGRlci5jc3NcIjtcblxuLmJvb2dhIHsgYmFja2dyb3VuZDogZ3JlZW47IH1cbi5sb29nYSB7IGNvbXBvc2VzOiBib29nYTsgfVxuIiwiQHZhbHVlIG9uZSwgdHdvLCBmb2xkZXIgZnJvbSBcIi4vbG9jYWwuY3NzXCI7XG4ud29vZ2EgeyBjb21wb3NlczogYm9vZ2EgZnJvbSBcIi4vbG9jYWwuY3NzXCI7IH1cbi5ib29nYSB7IGNvbG9yOiBvbmU7IGJhY2tncm91bmQ6IHR3bzsgfVxuLnRvb2dhIHsgYm9yZGVyOiAxcHggc29saWQgZm9sZGVyOyB9XG4iXX0= */
