# Always \n to make tests easier to deal w/
* text eol=lf

# Ignore www package for language stats
packages/www/** linguist-documentation

# Ignore specimens
**/specimens/** linguist-vendored

# Treat package-lock.json files as opaque blobs (because they are)
**/package-lock.json binary
