# Force a VM instead of Docker, some tests that depend on the FS fail otherwise
sudo: required

# don't build tags, it's redundant
if: tag IS blank

# Environment setup
language: node_js
node_js:
- node
- '8'
- '6'

# https://docs.travis-ci.com/user/customizing-the-build/#Fast-Finishing
matrix:
  fast_finish: true

# keep the npm cache around to speed up installs
cache:
  directories:
  - "$HOME/.npm"

before_install:
- npm config set loglevel warn
# Set up npm 5 for installs (npm 6 seems busted atm)
- npm install --global npm@5

# Use npm ci command for all dependencies
install:
- npm ci
- lerna exec -- npm ci

script:
- npm test -- --coverage --verbose --ci

# Run codecov after all builds, and only
# on a single environment
jobs:
  include:
    - stage: codecov
      node_js: node
      script: npx codecov

# travis buddy adds comments with travis failures to PRs
notifications:
  webhooks: https://www.travisbuddy.com/
  on_success: never
