# Force a VM instead of Docker, some tests that depend on the FS fail otherwise
sudo: required

language: node_js
node_js:
- node
- '8'
- '6'

# https://docs.travis-ci.com/user/customizing-the-build/#Fast-Finishing
matrix:
  fast_finish: true

script: npm test -- --coverage --verbose --ci

# Disabling because danger seems broken atm?
# after_script:
# - npm run danger
