sudo: false

language: node_js
node_js:
# Disabling because lerna seems busted
# - node
- '7'
- '6'
- '4'

# https://docs.travis-ci.com/user/customizing-the-build/#Fast-Finishing
matrix:
  fast_finish: true

script: npm test -- --coverage

# Disabling because danger seems broken atm?
# after_script:
# - npm run danger
