/* test/specimens/glob/1.css */
.mc7747055b_one {
    color: red
}
/* test/specimens/glob/dir/3.css */
.mcac0cd894_three {
    color: white
}
/* test/specimens/glob/dir/2.css */
.mc650bdf6f_two {
    background: blue
}