@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/nord.css";

@value monospaced from "../../site.css";

.editor {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.editor :global(.CodeMirror) {
    flex: 1;
}

.errorLocation {
    position: relative;
    border-bottom: 2px solid rgb(200, 0, 0);
}

.errorLine {
    background-color: rgba(200, 0, 0, 0.05);
}

.loading {}
.loaderror {}

:global(.CodeMirror) pre {
    font-family: monospaced;
    font-size: 80%;
}
