.ruleWithSingleCompose {
    composes: red from "../deps/classes.css";
}

.ruleWithLocalComposes {
    composes: ruleWithSingleCompose;
}

.ruleWithLocalComposes {
    composes: blue from "../deps/classes.css";
}
