body {
    background: #CCC;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: flex-start;
}

.files {
    flex: 1;
    display: flex;
    flex-direction: column;

    margin-right: 10px;
}

.file + .file {
    margin-top: 20px;
}

.name {
    height: 3em;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
 
    border: 1px solid #666;
}

:global(.CodeMirror) {
    border: 1px solid #666;
}

.output {
    flex: 1;
}
