@value buttonCss: "./button.css";

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #242424;
    color: #F6F3E8;
}

.head {
    margin-top: 0;
    padding: 15px 10px;
    
    background: #384048;
    color: #A0A8B0;

    border-bottom: 2px solid #00A0E0;
}

.head a,
.head a:active,
.head a:visited {
    color: inherit;
    text-decoration: none;
}

.head a:hover {
    text-decoration: underline;
}

.subhead {
    font-size: 60%;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: flex-start;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;

    margin: 10px;
}

.files,
.output {
    composes: column;
}

.add {
    composes: button from buttonCss;

    margin-bottom: 10px;
    background: #95E454;

    font-weight: bold;
}

.file + .file {
    margin-top: 20px;
}

.meta {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: space-between;
    justify-content: center;
    
    margin-bottom: 5px;
}

.name {
    flex: 2;
    padding: 5px;

    background: #343434;
    color: #F6F3E8;
 
    border: 1px solid #666;
    border-radius: 2px;
}

.remove {
    composes: button from buttonCss;

    background: #F08080;
}

.name + .remove {
    margin-left: 10px;
}

.errors {
    margin: 0;
    padding: 10px;

    min-height: 500px;

    border: 1px solid #666;
    color: #F08080;

    white-space: pre-wrap;
}

.panel :global(.CodeMirror) {
    min-height: 500px;
}

:global(.CodeMirror) {
    border: 1px solid #666;
}

/* Since modular-css uses some non-standard things */
:global(.CodeMirror .cm-property.cm-error) {
    background: transparent;
}

:global(.cm-s-monokai.CodeMirror) {
    background: #242424;
}
