/* test/specimens/folder/folder.css */
.dafdfcc7dc876084d352519086f9e6e9_folder { margin: 2px; }

/* test/specimens/local.css */
.f5507abd3eea0987714c5d92c3230347_booga { background: green; }

/* test/specimens/start.css */
.aeacf0c6fbb2445f549ddc0fcfc1747b_booga { color: red; background: blue; }
.aeacf0c6fbb2445f549ddc0fcfc1747b_tooga { border: 1px solid white; }
