/* test/specimens/keyframes.css */
@keyframes keyframes-nooga {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
.keyframes-tooga {
    animation: keyframes-nooga 2s
}
@-webkit-keyframes keyframes-loadingSpinner {
    from {
        background-position: 0px
    }
    to {
        background-position: -3968px
    }
}
.keyframes-looga {
    -webkit-animation: keyframes-loadingSpinner 2.5s steps(62) infinite
}
