/* test/specimens/folder/folder.css */
.04bb002b_folder {
    margin: 2px
}
/* test/specimens/local.css */
.04cb4cb2_booga {
    background: green
}
/* test/specimens/start.css */
.61f0515a_booga {
    color: red;
    background: blue
}
.61f0515a_tooga {
    border: 1px solid white
}
