/* test/specimens/relative.css */
.mc592b2d8f_wooga {
    color: red;
    background: url("specimens/folder/to.png")
}
/* test/specimens/watchify-relative.css */
.mc0893bc0d_booga {
    background: url("specimens/to.png")
}
