/* packages/browserify/test/specimens/folder/folder.css */
.mc04bb002b_folder {
    margin: 2px
}
/* packages/browserify/test/specimens/local.css */
.mc04cb4cb2_booga {
    background: green
}
/* packages/browserify/test/specimens/start.css */
.mc61f0515a_booga {
    color: red;
    background: blue
}
.mc61f0515a_tooga {
    border: 1px solid white
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uLy4uLy4uLy4uL3NwZWNpbWVucy9mb2xkZXIvZm9sZGVyLmNzcyIsIi4uLy4uLy4uLy4uLy4uL3NwZWNpbWVucy9zdGFydC5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IjtBQUNBO0lBQVUsV0FBWTtDQUFFOztBQUF4QjtJQUFVLGlCQUFZO0NBQUU7O0FBQXhCO0lBQVUsV0FBWTtJQUFFLGdCQUFBO0NDQ2U7QUFDdkM7SUFBUyx1QkFBeUI7Q0FBRSIsImZpbGUiOiJzb3VyY2UtbWFwcy5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAdmFsdWUgZm9sZGVyOiB3aGl0ZTtcbi5mb2xkZXIgeyBtYXJnaW46IDJweDsgfVxuIiwiQHZhbHVlIG9uZSwgdHdvLCBmb2xkZXIgZnJvbSBcIi4vbG9jYWwuY3NzXCI7XG4ud29vZ2EgeyBjb21wb3NlczogYm9vZ2EgZnJvbSBcIi4vbG9jYWwuY3NzXCI7IH1cbi5ib29nYSB7IGNvbG9yOiBvbmU7IGJhY2tncm91bmQ6IHR3bzsgfVxuLnRvb2dhIHsgYm9yZGVyOiAxcHggc29saWQgZm9sZGVyOyB9XG4iXX0= */
