.error {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;

    padding: 10px;

    background: #E5786D;
    color: #FFF;

    font-family: 'Droid Sans Mono', monospace;
    font-size: small;
    white-space: pre-wrap;

    /* Thanks, CodeMirror */
    z-index: 10;

    opacity: 1;
}

.hide {
    composes: error;

    opacity: 0;
    transition: opacity 0.2s.ease-out;
}
