@value * as colors from "../colors.css";

.file {
    composes: pane from "../style.css";
}

.meta {
    composes: meta from "../style.css";
}

.name {
    composes: name from "../style.css";

    letter-spacing: 2px;
}

.remove {
    composes: button from "../button.css";

    background: colors.bad;
    color: colors.main;

    padding: 0.2em 0.5em;
}
