@value * as colors from "../colors.css";

.file + .file {
    margin-top: 20px;
}

.meta {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    
    margin-bottom: 5px;
}

.name {
    flex: 1;
    margin: 2px 0;
}

.remove {
    composes: button from "../button.css";

    background: colors.bad;
    color: colors.main;

    padding: 0.2em 0.5em;
}
