@value local: "./local.css";
@value one, two, folder from local;

.wooga {
    composes: booga from local;
}

.booga {
    color: one;
    background: two;
}

.tooga {
    border: 1px solid folder;
}
