@value textColor from "../site.css";
@value borderColor from "../site.css";
@value headerHeight from "../header.css";
@value tabHeight: 2.5rem;

.repl {
    composes: content from "../site.css";

    width: 100%;
    max-width: 100%;

    display: grid;

    grid-template:
        "  tabs   tabs  " tabHeight
        " input  output " calc(100vh - headerHeight - tabHeight) /
        50% 50%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    position: relative;

    border-top: 2px solid borderColor;
}

.column + .column {
    border-left: 2px solid borderColor;
}
