/* packages/browserify/test/specimens/local.css */
.mc04cb4cb2_booga {
    background: green
}
/* packages/browserify/test/specimens/start.css */
.mc61f0515a_booga {
    color: red;
    background: blue
}
.mc61f0515a_tooga {
    border: 1px solid white
}
