body {
    font-family: 'Roboto', sans-serif;
}

pre,
textarea,
:global(.CodeMirror) {
    font-family: 'Inconsolata', monospace;
}

.page {}

.input {}

.tabs {}

.tab {}

.tabon {
    composes: tab;
}

.add {}

.file {}

.remove {}

.output {}

.error {}

.erroron {}

.result {}

.compositions {}

