@value * as values from "./site.css";

@value tabHeight: 2.5rem;

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: values.headerHeight;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    
    padding: 1rem;

    color: values.headerColor;
    background-color: values.headerBg;

    border-bottom: 2px solid values.accentColor;

    /* Necessary to force it above codemirror on /repl */
    z-index: 100;

    @media skinny {
        padding: 0.5rem 1rem;
    }
}

.header a {
    color: values.headerColor;
}

.header a:hover {
    color: values.hoverColor;
}

.title {
    font-size: 1.5rem;
    flex: 1;
}

.name {
    /* NO-OP for now */
}

.version {
    display: inline-block;
    
    margin-left: 0.25rem;

    font-size: 0.9rem;

    @media skinny {
        display: block;

        margin-left: 0;
    }
}

.navitems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 0;
}

.navitem {
    position: relative;

    list-style-type: none;
}

.navitem + .navitem {
    margin-left: 0.5rem;
    padding-left: 0.5rem;

    border-left: 2px solid hsl(0, 0%, 54%);
}

.link {
    text-transform: uppercase;
}
