@value bgColor: #ECEFF4;
@value headerColor: hsl(219, 28%, 88%);
@value headerBg: hsl(220, 16%, 22%);
@value textColor: hsl(0, 0%, 10%);
@value borderColor: #D8DEE9;
@value accentColor: #5E81AC;
@value hoverColor: accentColor;
@value hoverInTime: 100ms;
@value hoverOutTime: 250ms;
@value headerHeight: 4rem;
@value contentWidth: 35rem;
@value sidebarWidth: 12rem;

@value narrow: all and (max-width: 50rem);
@value skinny: all and (max-width: 30rem);

@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/nord.css";

html {
    box-sizing: border-box;
    
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
    width: 100%;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    min-height: 100%;

    color: textColor;
    background: bgColor;
}

pre,
textarea,
code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.9em;
}

a {
    transition: color hoverOutTime ease-out;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: hoverColor;

    transition: color hoverInTime ease-in;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: rgba(0,0,0,0);
    border-color: rgb(0, 0, 238);
    border-style: none;
    box-sizing: content-box;
    color: rgb(0, 0, 238);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    height: auto;
    padding: 0;
    perspective-origin: 0 0;
    text-align: start;
    text-decoration: none;
    transform-origin: 0 0;
    width: auto;
    -moz-appearance: none;
    -webkit-logical-height: 1em;
    -webkit-logical-width: auto;
}
  
@supports (-moz-appearance:none) {
    .button::-moz-focus-inner {
        border: none;
        padding: 0;
    }
  
    .button:focus {
        outline-style: dotted;
        outline-width: 1px;
    }
}

@value contentTop: calc(headerHeight + 1rem);

.content {
    min-height: calc(100vh - contentTop);
    padding: contentTop 1rem 5rem 1rem;
}

.bd h2 {
    margin: 2rem 0;
    font-size: 1.75rem;
}

.bd h3,
.bd h4,
.bd h5,
.bd h6 {
    margin: 2rem 0;
    font-size: 1.25rem;
    scroll-margin-top: contentTop;
}

.bd h1,
.bd h2,
.bd h3,
.bd h4,
.bd h5,
.bd h6 {
    position: relative;

    & :global(.header-anchor) {
        position: absolute;
        left: -1.6rem;
        bottom: 0;

        display: block;
        width: 1.4rem;
        font-size: 1rem;
        
        opacity: 0.25;
        transition: opacity 150ms;
        
        text-decoration: none;
        transform: translateY(-10%);

        &:hover {
            opacity: 1;
        
            text-decoration: none;
        }
    }
}

/* Examples that link off to the REPL */
:global(.repl-code) {
    position: relative;

    & :global(.repl-link) {
        position: absolute;
        top: 0;
        right: 0;

        padding: 0.35rem 0.5rem;

        background: #666;
        color: #FFF;

        font-size: 0.85rem;

        opacity: 0;

        transition: opacity 250ms ease-in;

        &:hover {
            text-decoration: underline;
        }
    }

    &:hover :global(.repl-link) {
        opacity: 1;

        transition: opacity 100ms ease-out;
    }
}

:global(pre.code) {
    margin: .5em 0;

    & :global(.CodeMirror) {
        height: auto;

        padding: 1em;
    }
}

/* Nord's comment color is hard to read, this is a lightly-lightened version of it */
:global(.cm-s-nord span.cm-comment) {
    color: hsl(220, 16%, 46%);
}
