/* test/specimens/folder/folder.css */
.mc04bb002b_folder {
    margin: 2px
}
/* test/specimens/simple.css */
.mc08e91a5b_wooga {
    color: red
}
/* test/specimens/local.css */
.mc04cb4cb2_booga {
    background: green
}
/* test/specimens/externals.css */
.mc56537f08_a .mc08e91a5b_wooga {
    color: green
}
.mc56537f08_b .mc04cb4cb2_booga {
    background: blue
}
