/* packages/core/test/specimens/folder/folder.css */
.folder {
    margin: 2px
}
/* packages/core/test/specimens/simple.css */
.wooga {
    color: red
}
/* packages/core/test/specimens/local.css */
.booga {
    background: green
}
/* packages/core/test/specimens/start.css */
.booga {
    color: red;
    background: blue
}
.tooga {
    border: 1px solid white
}
