/* test/specimens/folder/folder.css */
.mc04bb002b_folder {
    margin: 2px
}
/* test/specimens/folder/folder2.css */
.mc0a0b0aff_folder2 {
    color: green
}
/* test/specimens/folder/subfolder/subfolder.css */
.mc85c09a4a_subfolder {
    color: yellow
}
/* test/specimens/composes.css */
/* test/specimens/deep.css */
.mc25934484_deep {
    color: black
}
/* test/specimens/local.css */
.mc04cb4cb2_booga {
    background: green
}
/* test/specimens/start.css */
.mc61f0515a_booga {
    color: red;
    background: blue
}
.mc61f0515a_tooga {
    border: 1px solid white
}
