/* packages/core/test/specimens/folder/folder.css */
.folder {
    margin: 2px
}
/* packages/core/test/specimens/folder/folder2.css */
.folder2 {
    color: green
}
/* packages/core/test/specimens/folder/subfolder/subfolder.css */
.subfolder {
    color: yellow
}
/* packages/core/test/specimens/composes.css */
/* packages/core/test/specimens/deep.css */
.deep {
    color: black
}
/* packages/core/test/specimens/local.css */
.booga {
    background: green
}
/* packages/core/test/specimens/start.css */
.booga {
    color: red;
    background: blue
}
.tooga {
    border: 1px solid white
}
