/* packages/browserify/test/specimens/issues/58/other.css */
.mc8fe42003_other1 {
    color: green
}
.mc8fe42003_other2 {
    color: yellow
}
.mc8fe42003_other3 {
    background: white
}
/* packages/browserify/test/specimens/issues/58/issue.css */
.mc0c6149b1_issue1 {
    color: teal
}
.mc0c6149b1_issue2 {
    color: aqua
}
