name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
      
      - name: npm install
        run: npm ci
        
      - name: lint
        run: npm run lint --quiet --max-warnings=0

  tests:
    # This shouldn't take long, and if it does something bad has happened and it should be killed
    timeout-minutes: 5
    
    env:
      COVERAGE_NODE_VERSION: 24
      COVERAGE_OS: 'ubuntu-latest'

    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        node-version: [ 24 ]
        os: [ ubuntu-latest ]

    steps:
    - uses: actions/checkout@v6
    
    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    
    - name: npm ci
      run: npm ci
    
    - name: npm run parsers
      run: npm run parsers
    
    - name: npm test
      run: npm test

  playwright-tests:
    timeout-minutes: 30
    
    runs-on: ubuntu-22.04
    
    steps:
    
    - uses: actions/checkout@v6
    
    - uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: 'npm'
    
    - name: npm ci
      run: npm ci
    
    - name: npm run parsers
      run: npm run parsers
    
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps chromium

    - name: test
      run: npm run test:playwright
    
    - uses: actions/upload-artifact@v6
      if: failure()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
