name: CI

on: [pull_request, push]

jobs:
  
  lint:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'npm'
      
      - name: npm install
        run: npm ci
        
      - name: lint
        run: npm run lint --quiet --max-warnings=0

  build:
    env:
      COVERAGE_NODE_VERSION: 16
      COVERAGE_OS: 'ubuntu-latest'

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [ 12, 14, 16 ]
        os: [ ubuntu-latest ]

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    
    - name: npm update
      run: npm i npm@latest -g

    - name: npm install
      run: npm ci
    
    - name: npm build
      run: npm run build --if-present
    
    - name: test
      run: npm test -- --ci --no-cache
      env:
        CI: true
        
    # Run codecov after all builds, and only on a single environment
    - name: Gather Coverage
      if: matrix.os == env.COVERAGE_OS && matrix.node-version == env.COVERAGE_NODE_VERSION
      run: npm test -- --ci --coverage

    - name: Upload Coverage
      uses: codecov/codecov-action@v2
      if: matrix.os == env.COVERAGE_OS && matrix.node-version == env.COVERAGE_NODE_VERSION
      with:
        files: ./coverage/coverage-final.json
